<h1> New Song </h1>
<%# <%= render 'artists/form'%>
<%= form_for @song, url: {action: "create"} do |f| %>
<%= f.hidden_field :artist_id, :value => @artist.id%>
    <%= f.label :title, 'Title' %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label :genre, 'Genre' %><br>
    <%=f.text_field :genre %><br><br>
   <%= f.submit "Submit" %> 
<% end %>